.postt{
    background-color: white;
    width: 500px;
    height:700px;
    display: inline-block;
    margin:0px 380px 100px 380px;
    box-shadow: 2px 2px 5px #3c3c3c;
}
.identity{
    margin:17px;
}
.postImagee{
    width:498px;
    height:500px;
}
.ProfilePicturee{
    width:30px;
    height:30px;
    border-radius: 50%;
    vertical-align: top;
}
.userName{
    margin:0px 0px 0px 15px;
    display: inline-block;
    vertical-align: middle;
    height: 25px;
    font-family: 'Merriweather', serif;
    font-size: 13px;
    font-weight: bold;
}
.more{
    margin:0px 0px 0px 299px;
}
.more:hover{
    cursor: pointer;
}
.like{
    font-size: 30px !important;
    margin:17px 15px 0px 10px;
}
.like:hover{
    cursor: pointer;
}
.comment{
    font-size: 30px !important;
    margin:17px 17px 0px 0px;
}
.share{
    font-size: 30px !important;
    margin:17px 0px 0px 0px;
}
.noOfLikes{
    display: block;
    margin:0px 0px 0px 13px;
    font-family: 'Peddana', serif;
    font-size:20px
}
.postDescription{
    display: inline-block;
    width:452px;
    margin:0px 0px 0px 13px;
    font-family: 'Peddana', serif;
    font-size: 20px;
    line-height: 18px;
}
.likeContainer{
    display: inline-block;
}
.filledLike{
    font-size: 30px !important;
    margin:17px 15px 0px 10px;
    color:red;
}
.filledLike:hover{
    cursor: pointer;
}