.App {
  max-width: 100%;
  height: 100vh;
  background-color: #fafafa;
}

* {
  box-sizing: border-box;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: border-box;
}
::-webkit-scrollbar
{
    display: none;
}
.rct-collapse-btn
{
  border: 0;
  background-color:white;
  background:"transparent";
}
/* #rct-JJRbfpV-permissions{
  display: none;
  opacity: 0;
} */
ul{
  list-style: none
}
ol{
  list-style: none
}
.rct-node-collapsed{
  align-items: center;
}
tbody + thead{
  display: none;
}
table.dataTable thead
{
  background-color: rgb(247, 244, 244);
}
.pagination .page-item.active .page-link
{
  background-color: rgb(238, 82, 82)
}
/* .MuiButtonBase-root
{
  width: "60px";
}
.MuiTabs-indicator
{
  width: "60px";
} */